.go-away {
  display: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.fuck-margin-collapse:before {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
body a {
  text-decoration: none;
  font-weight: bold;
  color: #7fd1e9;
}
header {
  padding: 0px 20px;
  border-bottom: 10px solid black;
  margin: 40px 0px 20px 0px;
}
header h1 {
  font-size: 72px;
  margin: 0px;
  display: inline-block;
}
header h3 {
  margin-top: 0px;
}
header .date {
  display: inline-block;
  background-color: #7fd1e9;
  font-weight: 100;
  padding: 3px 6px 3px 6px;
  color: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
header #beta {
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
}
header .news-bit {
  background-color: #7fd1e9;
  padding: 0px 20px;
  margin: 0px -20px;
  margin-bottom: 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
header .news-bit a {
  color: white;
  font-weight: 100;
}
header .news-bit a:hover {
  text-decoration: underline;
}
#content {
  width: 600px;
  margin: 0px auto;
}
#attendance-list-heading {
  font-weight: bold;
  font-size: 12px;
  margin: 0px 20px 20px 20px;
  text-align: right;
}
#attendance-list-heading #heading2 {
  font-weight: normal;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 4px 10px 4px 10px;
  margin-left: 4px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}
#attendance-list-heading #heading2:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#attendance-list-heading #heading2:active {
  background-color: #000000;
}
#attendance-list {
  font-size: 24px;
  font-weight: bold;
  margin-left: -40px;
  margin-top: 10px;
  counter-reset: item;
  list-style-type: none;
}
#attendance-list li {
  margin-bottom: 20px;
  display: block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 73px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0);
}
#attendance-list li .pseudo-li {
  float: left;
  width: 100%;
}
#attendance-list li .pseudo-li div {
  margin: 20px;
}
#attendance-list li .pseudo-li .name {
  float: left;
  font-weight: normal;
  height: 33px;
  overflow: hidden;
}
#attendance-list li .pseudo-li .attendance-percentage {
  float: right;
}
#attendance-list li .pseudo-li .share {
  float: left;
  margin: 10px 0px 0px 0px;
  display: none;
  opacity: 0;
}
#attendance-list li .pseudo-li .share .btn-share {
  color: white;
  text-decoration: none;
  font-weight: 100;
  display: block;
  font-size: 12px;
  padding: 2px 4px;
  margin-bottom: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#attendance-list li .pseudo-li .share .btn-tweet {
  background-color: #28b2da;
}
#attendance-list li .pseudo-li .share .btn-tweet:hover {
  background-color: #53c1e2;
}
#attendance-list li .pseudo-li .share .btn-tweet:active {
  background-color: #28b2da;
}
#attendance-list li .pseudo-li .share .btn-fbshare {
  background-color: #2561aa;
}
#attendance-list li .pseudo-li .share .btn-fbshare:hover {
  background-color: #3079d2;
}
#attendance-list li .pseudo-li .share .btn-fbshare:active {
  background-color: #2561aa;
}
#attendance-list li:before {
  content: counter(item) "  ";
  counter-increment: item;
  width: 50px;
  margin-top: 20px;
  margin-left: -70px;
  float: left;
  text-align: right;
}
#attendance-list li:hover {
  background-color: #7fd1e9;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#attendance-list li:hover .revelations {
  opacity: 1;
  margin-right: -310px;
}
#attendance-list li:hover .share {
  opacity: 1;
  display: block;
}
#attendance-list li:hover .name {
  width: 300px;
}
#attendance-list li .revelations {
  font-weight: normal;
  float: right;
  margin-right: -400px;
  opacity: 0;
  width: 300px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
}
#attendance-list li .revelations .padding {
  background-color: #333;
  color: white;
  float: left;
  padding: 10px 16px;
}
#attendance-list li .revelations .padding h3 {
  font-size: 10px;
  margin: 0px;
  padding-bottom: 6px;
  border-bottom: 1px solid #555;
  text-align: center;
}
#attendance-list li .revelations .breakdown-container .number {
  font-size: 24px;
  font-weight: 800;
}
#attendance-list li .revelations .breakdown-container .description {
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  vertical-align: top;
}
.float-right {
  float: right;
}
.arrow-left {
  float: left;
  width: 0;
  height: 0;
  margin-top: 27px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333;
}
footer {
  width: 256px;
  margin: 0px auto;
  text-align: center;
}
footer div {
  margin-top: 10px;
}
footer > img {
  display: inline-block;
  margin: 40px 0px;
}
#donate {
  position: fixed;
  top: 0px;
  left: 0px;
  margin-left: -50px;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#donate button {
  border: none;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  margin: 0px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  display: block;
  background-color: white;
  padding: 12px;
  font-family: "Open Sans", helvetica, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#donate button h2 {
  font-size: 24px;
  margin: 0px;
  margin-bottom: 10px;
}
#donate button span {
  display: block;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 20px;
}
#donate button:hover {
  background-color: #7fd1e9;
  cursor: pointer;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
}
#donate button:active {
  background-color: pink;
}
