.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'proxima-nova', 'Proxima Nova', 'Open Sans', sans-serif;
  margin: 0px;
  padding-top: 50px;
  height: 100%;
  background-color: #ddd;
  font-weight: 100;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
.about-container {
  background-color: white;
  padding: 10px 20px 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 20px;
}
#content {
  width: 100%;
}
#attendance-list-heading {
  font-weight: bold;
  font-size: 12px;
  margin: 0px 20px 20px 20px;
  text-align: right;
}
#attendance-list-heading #heading2 {
  font-weight: normal;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 4px 10px 4px 10px;
  margin-left: 4px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}
#attendance-list-heading #heading2:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#attendance-list-heading #heading2:active {
  background-color: #000000;
}
.float-right {
  float: right;
}
.arrow-left {
  float: left;
  width: 0;
  height: 0;
  margin-top: 27px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #333;
}
footer {
  width: 256px;
  margin: 0px auto;
  text-align: center;
}
footer div {
  margin-top: 10px;
}
footer img {
  display: inline-block;
  margin: 40px 0px;
}
.left-percent {
  left: 31.25%;
}
.left-fixed {
  left: 320px;
}
#data-vis-viewport {
  left: 31.25%;
  bottom: 0px;
  top: 50px;
  width: 68.75%;
  height: auto;
  background-color: white;
  min-height: 82px;
  position: fixed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#data-vis-viewport #canvas-1 {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background-color: white;
}
#content,
section {
  height: 100%;
}
#list-viewport {
  position: relative;
  float: left;
  width: 31.25%;
  z-index: 9;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100%;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
#data-vis-viewport.make-fixed {
  z-index: 10;
  position: fixed;
  top: 0px;
}
#list-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 6px 20px 6px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "proxima-nova", "Proxima Nova", "Open Sans";
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  background-color: #ddd;
}
#list-header .name {
  position: absolute;
  left: 44px;
  right: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#list-header .percentage {
  float: right;
}
#data-vis-metadata {
  margin: 0px 50px;
}
#data-vis-metadata p {
  font-weight: 100;
}
.data-bar {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#attendance-list {
  font-size: 18px;
  counter-reset: item;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  font-family: "proxima-nova-extra-condensed", "Proxima Nova Condensed", "Open Sans";
  list-style-type: decimal-leading-zero;
}
#attendance-list li {
  display: block;
  padding: 20px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}
#attendance-list li .name {
  position: absolute;
  left: 44px;
  right: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#attendance-list li .percentage {
  float: right;
  text-align: right;
  width: 50px;
}
#attendance-list li:before {
  content: counter(item) "  ";
  counter-increment: item;
  position: absolute;
  text-align: right;
  left: 10px;
  width: 24px;
  margin-right: 10px;
  line-height: normal;
}
#attendance-list li:hover {
  margin-top: -1px;
  margin-right: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #5fbdcf;
}
#info-arrow {
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #5fbdcf;
  position: absolute;
  top: -15px;
}
#info-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  background-color: #5fbdcf;
  position: absolute;
  bottom: 0px;
  height: 96px;
  width: 100%;
}
#info-container .info-nugget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  text-align: center;
}
#info-container .info-nugget-data {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}
#info-container .info-nugget-label {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "proxima-nova-extra-condensed", "Proxima Nova Condensed", "Open Sans";
}
#info-container #placeholder {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.navbar.navbar-fixed-top .brand {
  color: black;
  padding: 16px;
}
#logo {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 0px 40px rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: none;
  height: 16px;
  line-height: 16px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#logo:hover {
  color: white;
}
.collapse {
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
}
#beta-tag {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  font-weight: normal;
  color: black;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 0px 40px rgba(255, 255, 255, 0.6);
}
.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.navbar li {
  float: left;
  padding: 16px;
  position: relative;
}
.navbar li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
}
.navbar li a:hover {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}
.navbar li .current {
  color: white;
}
.navbar li:hover {
  background-color: black;
}
.navbar #help-out {
  text-transform: uppercase;
}
.navbar #donate {
  margin: 0px;
}
.navbar #donate button {
  color: rgba(255, 255, 255, 0.4);
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  height: 16px;
  padding: 0px;
  vertical-align: top;
}
.navbar #donate button:hover {
  color: white;
}
button {
  border: none;
  margin: none;
  padding: none;
  cursor: pointer;
  background-color: transparent;
}
.opacity02 {
  opacity: 0.2;
}
.absent {
  opacity: 0.2;
}
.absent div {
  text-decoration: line-through;
}
.go-away {
  display: none;
}
.strike {
  text-decoration: line-through;
}
.selected-bar {
  fill: black;
}
.selected-bar-fill {
  fill: pink;
}
.media-notice {
  color: #555;
  font-weight: bold;
  float: left;
  margin-top: 12px;
  padding: 4px;
  font-size: 12px;
  background-color: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #222;
}
svg {
  shape-rendering: crispEdges;
}
.axis {
  font-family: "proxima-nova-extra-condensed";
  font-size: 18px;
}
.axis line,
.axis path {
  fill: none;
  stroke: black;
}
.legend {
  padding: 0px;
  vertical-align: top;
  list-style: none;
}
.legend h4 {
  margin: 0px;
  margin-right: 20px;
  font-weight: normal;
}
.legend li {
  float: left;
  margin-right: 20px;
}
.legend .circle {
  width: 20px;
  height: 20px;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.legend #c2010 {
  background-color: #5f3a82;
}
.legend #c2011 {
  background-color: #2496da;
}
.legend #c2012 {
  background-color: #889930;
}
.legend #no-quorum {
  background-color: #ca524c;
}
